/* css styles */

figure figcaption {
  text-align: center;}

.content {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;}

  img {
  display: block;
  margin-left: auto;
  margin-right: auto;}